/* 改变主题色变量 */
@import './settings.scss';

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';

.el-popup-parent--hidden {
  padding-right: 0 !important;
}

#__layout {
  .el-breadcrumb {
    line-height: 22px;
  }

  .el-tabs__header {
    margin: 0;
  }

  .item {
    cursor: pointer;
    margin-bottom: 18px;
    &:hover {
      color: $--color-primary;
    }
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }
  .text {
    font-size: 14px;
  }
}

pre.ql-syntax {
  // background-color: #f6f8fa;
  background-color: #23241f;
  color: #e2edf8;
  font-family: "Consolas, Courier New, monospace, MicroSoft Yahei";
  line-height: 30px;
  padding: 16px;
  margin: 14px 0;
  overflow: auto;
}
blockquote {
  border-left: 4px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
}
